<div class="dropdown" style="position: absolute;right: 20px;">
    <button class="btn btn-danger dropdown-toggle ps-5 pe-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Admin Login
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" routerLink="admin-login">Admin Login</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
  <p>landingggg</p>


  <div class="container me-5 p-5">
    <div class="row">
      <div *ngFor="let i of products" class="card" style="width: 18rem;">
        <img src="{{i.image}}" class="card-img-top" alt="..." style="height: 300px;">
        <div class="card-body">
          <h5 class="card-title">{{i.pname}}</h5>
          <p class="card-text">{{i.description}}</p>
          <p class="card-text">{{i.price}}</p>
          <p class="card-text">{{i.rating}}</p>
          <p class="card-text">{{i.count}}</p>
          <a href="#" class="btn btn-primary" routerLink="product-view/{{i._id}}">view</a>
        </div>
      </div>
    </div>
  </div>