<div class="m-1 p-5">
  <a href="admin-home">Back to home</a>
  <h1 class="text-center">Product Management</h1>
  <div class="text-end">
    <button (click)="addNew()" class="btn btn-primary p-2 ms-5">Add New Product</button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product Name</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">Rating</th>
        <th scope="col">Count</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of pdata let j=index">
        <td>{{j+1}}</td>
        <td>{{i.pname}}</td>
        <td>{{i.description}}</td>
        <td><img src="{{i.image}}" style="height: 80px;"></td>
        <td>{{i.price}}</td>
        <td>{{i.rating}}</td>
        <td>{{i.count}}</td>
        <td>
          <button (click)="editpage(i._id)" class="btn btn-warning ms-3 me-3"><i class="fa-solid fa-pen-to-square fa-beat-fade"></i></button>
          <button (click)="deleteProduct()" class="btn btn-danger ms-3 me-3"><i class="fa-solid fa-trash-can fa-beat-fade"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>